*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
}

body{
    background: darkgray;
    padding: 1rem;
}

div{
   margin: 0.8rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: [ row-1-start] 8rem [row-1-end row-2-start] minmax(20rem,auto) [row-2-end row-3-start] 6rem;
    grid-template-areas: "hd hd hd hd"
                   "sidebar main main main"
                   "ft ft ft ft";
}
.header{
    
    position: relative;
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-area: hd;
    background: cornflowerblue;
    text-align: center;
}
.footer{
    position: relative;
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-area: ft;
    text-align: center;
    background: cornflowerblue;
}
.sidebar{
    position: relative;
    grid-area: sidebar;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    background: cornflowerblue;
}
.main-content{
    position: relative;
    grid-area: main;
    /* grid-column-start: 2;
    grid-column-end: span 3; */
    background: cornflowerblue; 
    
}
p{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}